#cloud-config
timezone: Europe/Stockholm
hostname: ${node_name}
disable_root: false
ssh_deletekeys: false
ssh_pwauth: false
ssh_import_id: ['gh:Jaeensson']
%{ if length(extra_disks) > 0 ~}
disk_setup:
%{ for disk in extra_disks ~}
  ${disk.device}:
    table_type: gpt
    layout: true
    overwrite: false
%{ endfor ~}
fs_setup:
%{ for disk in extra_disks ~}
  - device: ${disk.device}1
    filesystem: ext4
%{ endfor ~}
mounts:
%{ for disk in extra_disks ~}
  - [${disk.device}1, ${disk.mount_point}, ext4, "defaults,noatime", "0", "0"]
%{ endfor ~}
%{ endif ~}
package_reboot_if_required: true
package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - unattended-upgrades
  - curl
  - nfs-common
  - open-iscsi
  - avahi-daemon
  - libnss-mdns
  - ssh-import-id
  - linux-firmware
write_files:
  - path: /etc/sysctl.d/90-inotify.conf
    content: |
      fs.inotify.max_user_instances=512
      fs.inotify.max_user_watches=524288
    permissions: '0644'
  - path: /etc/avahi/avahi-daemon.conf
    content: |
      [reflector]
      enable-reflector=yes
      reflect-ipv=no
    permissions: '0644'
  - path: /etc/cron.d/import_authorized_keys
    owner: root:root
    content: 33 2 * * * ssh-import-id gh:Jaeensson
    permissions: '0644'
runcmd:
  - pro config set apt_news=false
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now avahi-daemon
  - sysctl -p /etc/sysctl.d/90-inotify.conf
  - curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --tls-san ${ip} --disable=traefik --disable=servicelb" sh -
