---
apiVersion: v1
kind: Secret
metadata:
  name: infisical-credentials
  namespace: external-secrets
type: Opaque
stringData:
  clientId: {{ ENV.INFISICAL_UNIVERSAL_AUTH_CLIENT_ID }}
  clientSecret: {{ ENV.INFISICAL_UNIVERSAL_AUTH_CLIENT_SECRET }}
---
apiVersion: v1
kind: Secret
metadata:
  name: flux-system
  namespace: flux-system
type: Opaque
stringData:
  githubAppID: "{{ ENV.GITHUB_APP_ID }}"
  githubAppInstallationID: "{{ ENV.GITHUB_APP_INSTALLATION_ID }}"
  githubAppPrivateKey: |-
{{ ENV.GITHUB_APP_PRIVATE_KEY | indent(4, true) }}
